<div id="<%= dom_id counter %>">
  <p>
    <strong>Name:</strong>
    <%= counter.name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= render 'counters/value', counter: @counter %>
  </p>

</div>
